<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <demo.Properties.Settings>
      <setting name="odoAdminTime" serializeAs="String">
        <value />
      </setting>
      <setting name="anyTime" serializeAs="String">
        <value />
      </setting>
      <setting name="days" serializeAs="String">
        <value />
      </setting>
      <setting name="hours" serializeAs="String">
        <value />
      </setting>
      <setting name="minutes" serializeAs="String">
        <value />
      </setting>
      <setting name="isDays" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isHours" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isMinutes" serializeAs="String">
        <value>False</value>
      </setting>
    </demo.Properties.Settings>
  </userSettings>
</configuration>
