<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebSocketConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WebSocketConsole.Properties.Settings>
            <setting name="CertificateFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CertificatePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Identification_Alias" serializeAs="String">
                <value />
            </setting>
            <setting name="HTTPS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DB_Connection_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WebServiceURL" serializeAs="String">
                <value />
            </setting>
            <setting name="EnabledProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerifyProxyUserNamePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_Authentication_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SQL_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SQL_TimeOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintWelcomeLabel" serializeAs="String">
                <value>False</value>
            </setting>
        </WebSocketConsole.Properties.Settings>
    </userSettings>
</configuration>